.movie-list p{
    background-color: black;
    color: aquamarine;
    padding: 10px;
    width: fit-content;
    margin: 5px;
    border-radius: 10px;
}
.movie-display{
    padding: 10px;
    margin: 40px;
    width: fit-content;
    background-color: black;
    border-radius: 5px;
    border: 6px solid lightseagreen;
    outline-color: black;
    color: darkcyan;

}
.movie-display h2{
    color: lightgreen;
    text-decoration: underline;
}
