*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    text-align: center;
    
    background-color: black;
    color: white;
}

/* .navbar a{
    color: white;
    text-decoration: none;

} */
.navbar .menu a{
    color: tomato;
    text-decoration: none;
    margin-right: 5px;

}


.about h1{
    text-align: center;
}
.about img{
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-align: center;

    margin: 0 auto;
}
.footer{
    /* text-decoration: none; */
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: white;
}
.footer a{
    text-decoration: none;
}